.agree{
    font-size: 14px;
    font-weight: 400;
    color: #4B4544;
    padding-top: 14px;
}
.terms{
    font-weight: 600;
      color: #4B4544;
       font-size: 14px;
       padding-bottom: 14px;
}
.Signbtn{ margin-bottom: 11px;}
.signSection{
    padding-top: 27px;
}